<!-- header section starts -->
<header >
  <div id="menu-bar" class="fas fa-bras"></div>
  <a href="#" class="logo"><span>Tuni</span>Trip</a>
  <nav class="navbar">
      <a href="">home</a>
      <a href="#services">About us</a>
      <a href="#portfolio">Destination</a>
      <a href="#srvices">services</a>
      <a href="#review">review</a>
      <a href="#contact">contact</a>



  </nav >

  <div id="menu-bar" class="fas fa-bras"></div>

  <nav align="right"  class="navbar">
    <a routerLink="/signup">Signup</a>
    <a routerLink="/login">Login</a>


  </nav >



</header>
