<!-- header section starts -->
<header>
  <div id="menu-bar" class="fas fa-bras"></div>
  <a href="#" class="logo"><span>Tuni</span>Trip</a>
  <nav class="navbar">
      <a routerLink="/user">home</a>
      <a href="#portfoli">Destination</a>
      <a href="#packag">backage</a>
      <a href="#srvice">Testimonials</a>
      <a href="#review">FeedBack</a>




  </nav >

  <div id="menu-bar" class="fas fa-bras"></div>

  <nav align="right"  class="navbar">
    <a routerLink="">Logout</a>


  </nav >






</header>
