<app-navbar-u></app-navbar-u>


<div class="parallax-content baner-content" id="login-front">
  <div class="container">
      <div class="first-content">
          <h1><em>Tuni</em>Trip</h1>
          <span>Ready for the next  <em>Travel?</em></span>
          <div class="primary-button">
              <a href="#services">Discover More</a>
          </div>
      </div>
  </div>
</div>


<!------------------------------------------------------------------------------->
<div class="service-content" id="services">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="left-text">
                  <h4>More About TuniTrip</h4>
                  <div class="line-dec"></div>
                  <p>With TuniTrip vacation become greater than before with the best-recommoded destination .
                  Please share our <a rel="nofollow" href="http://localhost:4200/">website</a> to your friends or collegues. Thank you.</p>



              </div>
          </div>
          <div class="col-md-8">
              <div class="row">
                  <div class="col-md-6">
                      <div class="service-item">

                          <p>
                            Offer real time data access.
                            <br>
                            Helpful in expansion of your business.

                        .</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="service-item">

                          <p> Minimize your maintenance cost.
                            <br>
                            24*7 interactions with customers.
                           </p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="service-item">

                          <p> Saves time and money.
                            <br>
                            Minimized order processing costs.
                            </p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="service-item">

                          <p>Instant reservation or booking facilities of flights, tour packages etc.
                           </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






<!------------------------------------------------------------------------------->
<div class="service-content" id="portfolio">

  <div style="text-align:center">

    <h1>Choose your Destination</h1>
  </div>


  <section class="packages " id="packages">

    <div class="box-container">
        <div class="box" >
            <img src="http://localhost:4200/assets/user/images/p.4.jpg" width="300"
            height="200"alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Monastir</h1>
                <a routerLink="/monastir" class="btn">Discover</a>



            </div>
        </div>
        <div class="box">
            <img src="http://www.webdo.tn/wp-content/uploads/2018/11/Tunisie_Sousse-1.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Sousse</h1>

                <a routerLink="/sousse" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
            <img src="https://voyage.tunisiepromo.com/admin/assets/Images/events/excursions-divers-tunisie/f994299e932fa892d3a3e3ecf2f05ac3-roman-colosseum.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Mahdia</h1>

                <a routerLink="/mahdia" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/cb/fb/2b/img-20190813-193236-largejpg.jpg?w=500&h=300&s=1" width="300"
          height="200" alt="">
          <div class="content">
              <h1><i class="fas fa-ma-marker-alt"></i>Sfax</h1>

              <a href="#" class="btn">Discover</a>
          </div>
      </div>
        <div class="box">
            <img src="https://www.leaders.com.tn/uploads/content/thumbnails/156292126689_content.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Djerba</h1>

                <a href="#" class="btn">Discover</a>
            </div>
        </div>
      </div>
  </section>



  <section class="packages " id="packages">
    <div class="box-container">


      <div class="box">
        <img src="https://i.pinimg.com/originals/57/cb/36/57cb36fc7f4ca1d2fd1a405b1316abfd.jpg" width="300"
        height="200" alt="">
        <div class="content">
            <h1><i class="fas fa-ma-marker-alt"></i>Beja</h1>

            <a href="#" class="btn">Discover</a>
        </div>
    </div>
        <div class="box">
            <img src="http://www.webdo.tn/wp-content/uploads/2018/12/antara-resort-tozeur.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Tozeur</h1>

                <a href="#" class="btn">Discover</a>
            </div>
        </div>




        <div class="box">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/c9/5c/32/la-beaute-du-sunset-au.jpg" width="300"
          height="200" alt="">
          <div class="content">
              <h1><i class="fas fa-ma-marker-alt"></i>SidiBouSAid</h1>

              <a href="#" class="btn">Discover</a>
          </div>
      </div>

      <div class="box">
        <img src="https://2.bp.blogspot.com/-5JDEErWALE0/WQ89BBshMJI/AAAAAAAAGEk/0JXU25hW-kwzMupXXF64_vZq_FNTgjCxgCLcB/s1600/4f4c8553287ce7a6fd67b19a350245b6.jpg" width="300"
        height="200" alt="">
        <div class="content">
            <h1><i class="fas fa-ma-marker-alt"></i>Siliana</h1>

            <a href="#" class="btn">Discover</a>
        </div>
    </div>
        <div class="box">
          <img src="https://wildyness.com/uploads/0000/27/2020/12/11/mountainjpg.jpg" width="300"
          height="200" alt="">
          <div class="content">
              <h1><i class="fas fa-ma-marker-alt"></i>Zaghouan</h1>

              <a href="#" class="btn">Discover</a>
          </div>



      </div>

      </div>



  </section>

  <section class="packages " id="packages">

    <div class="box-container">
        <div class="box" >
            <img src="https://cdn2.webmanagercenter.com/wmc/wp-content/uploads/2018/11/kairouan-fete-mouled.jpg" width="300"
            height="200"alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Kairouan</h1>
                <a routerLink="/monastir" class="btn">Discover</a>



            </div>
        </div>
        <div class="box">
            <img src="https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img/https://www.e-gafsa.tn/wp-content/uploads/cache/images/31870932_596439040724120_991862404260298752_o/31870932_596439040724120_991862404260298752_o-365456336.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Gafsa</h1>

                <a routerLink="/sousse" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
            <img src="https://www.voyage-tunisie.info/wp-content/uploads/2018/02/Beni-Mtir.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Jendouba</h1>

                <a routerLink="/mahdia" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
          <img src="https://tunisie.co/uploads/images/content/kasserine-010916-1.jpg" width="300"
          height="200" alt="">
          <div class="content">
              <h1><i class="fas fa-ma-marker-alt"></i>Kasserine</h1>

              <a href="#" class="btn">Discover</a>
          </div>
      </div>
        <div class="box">
            <img src="https://www.tunisie-tribune.com/wp-content/uploads/2017/12/festival-de-douz-kebili-un-tourisme-saharien-au-beau-fixe-avec-un-taux-de-reservation-qui-atteint-les-100.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Kebili</h1>

                <a href="#" class="btn">Discover</a>
            </div>
        </div>
      </div>
  </section>

  <section class="packages " id="packages">

    <div class="box-container">
        <div class="box" >
            <img src="https://c8.alamy.com/zoomsfr/9/f2f9e87029b841a885511615950389ca/kx23d0.jpg" width="300"
            height="200"alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Kef</h1>
                <a routerLink="/monastir" class="btn">Discover</a>



            </div>
        </div>
        <div class="box">
            <img src="https://imageloader.e-domizil.de/photos/0x0/aHR0cHM6Ly9pbWFnZS5lLWRvbWl6aWwuZGUvZWRnZngvYmFubmVyL3N1Y2hlL1ROL1R1bmVzaWVuJTVGMDElMkVqcGc=" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Medenine</h1>

                <a routerLink="/sousse" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
            <img src="https://lh3.googleusercontent.com/proxy/A-jM0WR4S1sq1dbFjVBVGxyAuchJIwTm8sDymTbJxtN0INc60LrSjo-HtgOhoDIC4YWprFc_dRS1tGx3VdffiAncO6FHTy1PWkc4QjB9paTPQI2LLigRryRJs_MxUQ" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Nabeul</h1>

                <a routerLink="/mahdia" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/cb/fb/2b/img-20190813-193236-largejpg.jpg?w=500&h=300&s=1" width="300"
          height="200" alt="">
          <div class="content">
              <h1><i class="fas fa-ma-marker-alt"></i>Sfax</h1>

              <a href="#" class="btn">Discover</a>
          </div>
      </div>
        <div class="box">
            <img src="https://www.leaders.com.tn/uploads/content/thumbnails/156292126689_content.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Djerba</h1>

                <a href="#" class="btn">Discover</a>
            </div>
        </div>
      </div>
  </section>
  <section class="packages " id="packages">

    <div class="box-container">
        <div class="box">
            <img src="https://tunisie.co/uploads/images/content/portbizerte-191020-7.jpg" width="300"
            height="200" alt="">
            <div class="content">
                <h1><i class="fas fa-ma-marker-alt"></i>Bizerte</h1>

                <a routerLink="/mahdia" class="btn">Discover</a>
            </div>
        </div>
        <div class="box">
          <img src="https://cdn.getyourguide.com/img/tour/5d09482c277d9.jpeg/146.jpg" width="300"
          height="200" alt="">
          <div class="content">
              <h1><i class="fas fa-ma-marker-alt"></i>Gabes</h1>

              <a href="#" class="btn">Discover</a>
          </div>
      </div>

      </div>
  </section>


</div>

<!------------------------------------------------------------------------------->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class=" service-content testimonials section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <div style="text-align:center">

        <h1>Testimonials</h1>
        <br>
      </div>


    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              TuniTrip is my best website that helps me to find the best destination
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3_o4-ECt7BgZ78CywSI2yx-rozMhH6mLAZA&usqp=CAU" class="testimonial-img" alt="">
            <h3>Jamila Mabrouk</h3>

          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              This the best website i have ever visited!!!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="https://i1.wp.com/lapresse.tn/wp-content/uploads/2020/05/100_2916.jpg?resize=850%2C638&ssl=1" class="testimonial-img" alt="">
            <h3>Tarek jalouli</h3>

          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              TuniTrip helps me alot to save my time in searching where i will pass the holidays.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="https://previews.123rf.com/images/fahrner/fahrner1101/fahrner110100114/8692752-tunis-tunisia-jan-22-angry-tunisian-man-during-violent-protests-on-the-street-of-tunis-january-22-20.jpg" class="testimonial-img" alt="">
            <h3>Maher Mjid</h3>

          </div>
        </div><!-- End testimonial item -->



      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->

<!------------------------------------------------------------------------------->

<div class="parallax-content contact-content" id="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="contact-form">
                  <div class="row">
                      <form id="contact" action="" method="post">
                          <div class="row">
                              <div class="col-md-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <button type="submit" id="form-submit" class="btn">Send Message</button>
                                </fieldset>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="map">
              <!-- How to change your own map point
                     1. Go to Google Maps
                     2. Click on your location point
                     3. Click "Share" and choose "Embed map" tab
                     4. Copy only URL and paste it within the src="" field below
              -->

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
</div>

<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="primary-button">
                  <a href="#home">Back To Top</a>
              </div>
              <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-google"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
              <p>Copyright &copy; 2019 Company Name

          - Design: <a rel="nofollow noopener" href="https://templatemo.com"><em>TemplateMo</em></a></p>
          </div>
      </div>
  </div>
</footer>

<router-outlet></router-outlet>
