<header id="header" class="d-flex align-items-center ">
  <div class="container-fluid container-xxl d-flex align-items-center">

    <div id="logo" class="me-auto">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a href="index.html" class="scrollto"></a>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0" >
      <ul>
        <li><a class="nav-link scrollto active " href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#speakers">Speakers</a></li>
        <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>
        <li><a class="nav-link scrollto" href="#venue">Venue</a></li>
        <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
        <li><a class="nav-link scrollto" href="#supporters">Sponsors</a></li>
        <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#">Drop Down 1</a></li>
          <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="#">Deep Drop Down 1</a></li>
              <li><a href="#">Deep Drop Down 2</a></li>
              <li><a href="#">Deep Drop Down 3</a></li>
              <li><a href="#">Deep Drop Down 4</a></li>
              <li><a href="#">Deep Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#">Drop Down 2</a></li>
          <li><a href="#">Drop Down 3</a></li>
          <li><a href="#">Drop Down 4</a></li>
        </ul>
      </li> -->
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->


  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">Welcome To<br><span>Sousse</span> </h1>
    <a href="https://www.youtube.com/watch?v=5KAdf0SfQg4" class="glightbox play-btn mb-4"></a>
    <a href="#about" class="about-btn scrollto">Go Back</a>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>Sousse</h2>
          <p>Sousse is a city in Tunisia 160 km from Tunis.
            Set along a superb coastline with a blue sea and long golden sandy beaches,
             Monastir is a pleasant seaside resort, a historical town full of tradition and one of the best tourist destinations in Northern Africa.</p>
        </div>

      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Speakers Section ======= -->
  <section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Best Places To Visit</h2>
        <p>Here are some places you must visit</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/destination/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a>Bourguiba Mausoleum</a></h3>


            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/destination/img/speakers/2.jpeg" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a >Ribat of Monastir</a></h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="assets/destination/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a>Monastir Marina</a></h3>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/destination/img/speakers/4.jpg"alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Kuriat Island</a></h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/destination/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
            <div class="details">
              <h3><a>Lemon Tour Monastir </a></h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="assets/destination/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
            <div class="details">
              <h3><a>Boat Tour</a></h3>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Speakers Section -->

  <!-- ======= restaurant Section ======= -->
  <section id="hotels" class="section-with-bg">

    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Recommended Restaurant</h2>
        <p>Our recommended Restaurant you must visit </p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/18/db/b1/a8/photo0jpg.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://www.facebook.com/LE-ROI-du-couscous-1442039322687774/">Le Roi du CousCous</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
            </h3>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://linstant-m.tn/uploads/e533feb898a7248c1d04bbb0ec861d718f2a4559.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="http://www.lepiratemonastir.com/">Restaurant le Pirate Monastir </a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://img.restaurantguru.com/cb09-Restaurant-Darjeeling-facade.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://darjeeling-restaurant.business.site/?utm_source=gmb&utm_medium=referral">Darjeeling </a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
            </h3>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/5d/93/56/que-du-bonheur.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="http://www.marinathecaptain.com/">Marina The Captain</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://image.resabooking.com/images/image_panoramique/Sentido_Rosa_Beach_Thalasso_&_SPa_3.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://rosabeach.tn/">Rosa Beach</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://x.cdrst.com/foto/hotel-sf/6f4de/granderesp/hotel-les-palmiers-general-c6b2379.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://www.lespalmiershotel.com/">Les Palmiers</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End restaurant Section -->





  <!-- ======= Hotels Section ======= -->
  <section id="hotels" class="section-with-bg">

    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Recommended Hotels</h2>
        <p>Our recommended Hotels you must try </p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://static.logitravel.com/cloudcontent/fotos/agregadorHotelero/0001/38642/138642/1.jpg?f=15548012" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://www.iberostar.com/fr/hotels/monastir/iberostar-kuriat-palace/?cp=GOOGLEIN&utm_source=google&utm_medium=sem&gclid=EAIaIQobChMIy5KYxpnZ9AIVWunmCh0pug7CEAAYASAAEgKta_D_BwE&gclsrc=aw.ds">Iberostar Selection Kuriat Palace</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
            </h3>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://1915023314.rsc.cdn77.org/photos/17076/H%C3%B4tel-Royal-Thalassa-%E2%80%93-MONASTIR.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="http://www.thalassa-hotels.com/">Royal Thalassa Monastir </a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://media.hrs.com/media/image/38/1a/4b/Skanes_Serail-Monastir-Aussenansicht-4-389488.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://hotelserail.com/">Novostar Skanes Sérail</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star "></span>
            </h3>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://image.resabooking.com/images/hotel/Regency_Hotel_&_Spa_Monastir_.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="http://www.shdthotels.com/">Regency Hotel and Spa</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://image.resabooking.com/images/image_panoramique/Sentido_Rosa_Beach_Thalasso_&_SPa_3.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://rosabeach.tn/">Rosa Beach</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://x.cdrst.com/foto/hotel-sf/6f4de/granderesp/hotel-les-palmiers-general-c6b2379.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="https://www.lespalmiershotel.com/">Les Palmiers</a></h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h3>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span>
            </h3>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Hotels Section -->

  <!-- ======= Venue Section ======= -->
  <section id="venue">

    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h2>Activities you can do in Monastir</h2>
        <p>Lest's the journey begin</p>
      </div>

      <div class="row g-0">
        <div class="col-lg-6 venue-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-lg-6 venue-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>Downtown Conference Center, New York</h3>
              <p>Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt quia velit.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/destination/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/destination/img/venue-gallery/8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Venue Section -->




  <!-- ======= guide Section ======= -->
  <section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Get Your Guide</h2>
        <p>Our Best Guided Tour</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="https://media.guruwalk.com/cm60wyygyo0tdkutyhxameib14hj" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a>Mouin </a></h3>
              <h3><a href="https://www.guruwalk.com/gurus/ie0n9oog5mdbfppyo4s2">Contact </a></h3>


            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="https://media.guruwalk.com/b6vy65bizop7y264me8pbu7cyv9g" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a >Saber</a></h3>
              <h3><a href="https://www.guruwalk.com/walks/31036-bardo-museum-two-museums-in-one">Contact </a></h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="https://media.guruwalk.com/y509bavivtxq3fgpecng2lqcufdo" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a>Salem </a></h3>
              <h3><a href="https://www.guruwalk.com/gurus/uu9jh52r9trtxw7wfp3c">Contact </a></h3>

            </div>
          </div>
        </div>



      </div>
    </div>

  </section><!-- End guide Section -->







  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Give Us Your FeedBack</h2>
        <p>Feel free to express yourself</p>
      </div>



      <div class="form">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-group col-md-6 mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">

          <p>In alias aperiam. Placeat tempore facere. Officiis voluptate ipsam vel eveniet est dolor et totam porro. Perspiciatis ad omnis fugit molestiae recusandae possimus. Aut consectetur id quis. In inventore consequatur ad voluptate cupiditate debitis accusamus repellat cumque.</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>


        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End  Footer -->

